.app-list {
    margin-top: 30px;
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
}

.item-enter {
    opacity: 0;
    transform: scale(0.1);
  }

  .item-enter-active {
    opacity: 1;
    transform: translateY(8px);
    transition: all 500ms linear;
  }

  .item-exit {
    opacity: 1;
   
  }
  
  .item-exit-active {
    opacity: 0;
    transform: scale(0.1);
    transition: all 500ms cubic-bezier(.87,.47,0,1);
  }

@media (min-width: 360px) and (max-width: 500px) {
    .app-list {
        margin-top: 20px;
    }
}