.search {
    margin-top: 20px;
    padding: 25px;
    background-color: darkcyan;
    border-radius: 5px;
    color: white;
}

::placeholder {
    font-family: 'El Messiri', sans-serif;
}

@media (min-width: 360px) and (max-width: 500px) {
    .search {
        padding: 12px;
    }
}


