.header {
    padding: 25px;
    background-color: darkcyan;
    border-radius: 5px;
    color: white;
}

h1 {
    font-family: 'Monoton', cursive;
    text-align: end;
    margin-bottom: 20px;
}

h2 {
    font-family: 'El Messiri', sans-serif;
    font-size: 25px;
    line-height: 40px;
}